@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

@import "tailwindcss";

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .projectTag {
        color: white;
        background-color: #0362c7;
        position: absolute;
        font-family: "Space Grotesk", sans-serif;
        border: 4px solid #011932;
    }
}

@theme {
    --font-heading: "Space Grotesk", sans-serif;
    --font-content: "Funnel Sans", sans-serif;
    --font-footer: "Tagesschrift", system-ui;
    --animate-waveLg: waveLg 6s ease infinite, fadeInLg 0.8s ease forwards;

    @keyframes waveLg {
        0%,
        100% {
           clip-path: polygon(0% 87%, 4% 90%, 9% 91%, 14% 91%, 19% 90%, 23% 89%, 27% 87%, 31% 85%, 36% 84%, 40% 83%, 44% 84%, 49% 86%, 53% 86%, 56% 88%, 60% 89%, 64% 90%, 68% 91%, 72% 91%, 78% 91%, 82% 90%, 87% 89%, 90% 87%, 92% 86%, 96% 83%, 100% 82%, 100% 0, 0 0);
        }

        50% {
           clip-path: polygon(0% 87%, 4% 85%, 9% 83%, 15% 82%, 20% 81%, 24% 83%, 27% 84%, 31% 87%, 36% 89%, 41% 91%, 45% 92%, 50% 93%, 53% 93%, 57% 93%, 60% 92%, 63% 90%, 66% 89%, 71% 87%, 76% 85%, 82% 84%, 85% 83%, 89% 83%, 92% 85%, 95% 86%, 100% 89%, 100% 0, 0 0);
        }
    }

    --animate-waveSm: waveSm 6s ease infinite, fadeInSm 0.7s ease forwards;

    @keyframes waveSm {
        0%,
        100% {
          clip-path: polygon(0 90%, 11% 92%, 21% 91%, 34% 88%, 45% 88%, 58% 91%, 70% 91%, 83% 88%, 92% 86%, 100% 84%, 100% 0, 0% 0%);
        }

        50% {
         clip-path: polygon(0 87%, 9% 87%, 22% 87%, 33% 89%, 45% 91%, 57% 89%, 70% 87%, 80% 86%, 90% 87%, 100% 88%, 100% 0, 0% 0%);
        }
    }

    @keyframes fadeInLg {
        0% {
            top: -24rem
        }

        100% {
            top: 0;
        }
    }

    @keyframes fadeInSm {
        0% {
            top: -29rem
        }

        100% {
            top: 0;
        }
    }

    --animate-bodyFadeInLg: bodyFadeInLg 0.8s ease forwards;

    @keyframes bodyFadeInLg {
        0% {
            padding-top: 0;
        }

        100% {
            padding-top: 27rem;
        }
    }

    --animate-bodyFadeInSm: bodyFadeInSm 0.6s ease forwards;

    @keyframes bodyFadeInSm {
        0% {
            padding-top: 0;
        }

        100% {
            padding-top:30rem;
        }
    }

    --animate-canvasFadeIn: canvasFadeIn 0.6s ease forwards;

    @keyframes canvasFadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 100;
        }
    }
}

* {
    box-sizing: border-box;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}